.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 470px; /* Adjust this value to move the elements up */
}

.page h1 {
  margin: 30px;

}

.container {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin: 20px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  
}
.container1 {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 10px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 1135px;
  flex-wrap: wrap;
}

.container2 {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 20px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 1135px;
  flex-wrap: wrap;
}

.containertitle {
  width: 1135px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aqua;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 10px;
}

.containerxp {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 30px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 380px;
  height: 90px;
}

.containerpr {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 30px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 250px;
  height: 90px;
}

.containern {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 30px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 400px;
}

.container input {
  margin: 10px;
  width: 250px; /* Match the width of the image */
  height: 50px; /* Match the height of the image */
}
.container1 div {
  margin-right: 10px; /* Add space between the span and the select element */
  margin-left: 10px; /* Add space between the span and the select element */
}

.containerbd input {
  margin: 10px;
}

.containerbd svg {
  margin: 10px;
}

.containerbd {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 30px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 200px;
}
.containerwin {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 30px; /* Add margin-top to move the container down */
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 250px;
  
}

.containerwin input {
  margin: 10px;
}

.containerfxp {
  border: 2px solid #000; /* Add a border to the container */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 30px; /* Add margin-top to move the container down */
  margin-right: 20px;
  display: flex; /* Ensure the image and input are aligned */
  align-items: center; /* Vertically center the image and input */
  width: 250px;
  
}

.containerfxp input {
  margin: 10px;
}

.containertotal{
  margin: 20px;
  border : 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  flex-wrap: wrap;
}

.container div{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#totalfreexp{
  display: none;
}